.header {
	color: #000000;
	font-family: "Verdana";
	font-size: 16px;
	margin-top: 15px;
}

.photo {
	padding: 80px;
	color: #000000;
	font-size: 14px;
	background-color: transparent;
	text-decoration: none;
	margin-top: 10px;
	margin-right: 30px;
	margin-left: 10px;
	border:2px solid #000000;
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border-radius: 15px;
}

button {
	background-color: transparent;
	border: none;
}

button:hover {
	cursor: pointer;
}

.button1 {
	color: #00aa44;
	font-size: 16px;
	background-color: transparent;
	text-decoration: none;
	padding: 5px 10px;
	margin-top: 10px;
	margin-right: 30px;
	margin-left: 10px;
	border-radius: 8px;
	border:2px solid #00aa44;
}

.button1:hover {
	cursor: pointer;
	color: #000000;
	border:2px solid #000000;
}

.admin-section1 {
	background-color: white;
	-webkit-background-size: cover;
	-moz-background-size: contain;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

#admin {
	position: relative;
	margin-left: 100px;
	color: #000000;
	z-index: 1;
	font-size: 25px;
	margin-top: 50px;
	font-size: 30px;
}

.container {
	width: 100%;
}

.admin-section2 {
	background-color: #FFFFFF;
	min-height: 250px;
	color: #FFFFFF;

}

.section-title {
	background-color: #00aa44;
	font-size: 18px;
	margin-left: 30px;
	margin-bottom: 20px;
	padding: 10px;
	margin-right: 30px;
	border-radius: 10px; 
}

input[type=text] {
	width: 400px;
	height: 40px;
	font-size: 14px;
}

@media (max-width: 500px) {
	input[type=text] {
		width: 100%;
	}

	#admin {
		margin-left: 30px;
		margin-bottom: -50px;
	}
}

.section-content {
	background-color: transparent;
	font-size: 16px;
	color: #696969;
	margin-left: 30px;
	margin-bottom: 60px;
	margin-right: 30px;
	padding: 10px;
	line-height: 30px;
	word-wrap: break-word;
}

.total-user {
	margin-left: 40px;
	color: #696969;
	font-size: 16px;
}

.section3 {
	background-color: #00aa44;
	min-height: 450px;
	text-align: center;
	color: #FFFFFF;
}