.newmessage-section1 {
	background: white;
	-webkit-background-size: cover;
	-moz-background-size: contain;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	border-bottom: 1px solid #A0A0A0;
}

#newmessage {
	position: relative;
	margin-left: 100px;
	color: #000000;
	z-index: 1;
	font-size: 25px;
	margin-top: 50px;
	font-size: 30px;
}

@media (max-width: 500px) {
	#newmessage {
		margin-left: 30px;
		margin-bottom: -50px;
	}
}

.newmessage-section2 {
	background-color: #FFFFFF;
	min-height: 400px;
	max-height: 800px;
	text-align: left;
	color: #00aa44;
	font-size: 18px;
}

input[type=text], select {
	width: 70%;
	padding: 5px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: black;
	box-sizing: border-box;
	/*margin-bottom: 60px;*/
}

textarea {
	width: 70%;
	height: 150px;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    box-sizing: border-box;	
    vertical-align: top;
}

@media (max-width: 500px) {
	.newmessage-section2 {
		margin-left: 10px;
	}
	input[type=text], textarea {
		width: 95%;
	}
}