header {
  background: url('../../design/assets/bg1.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10px;
}

header .header-content .header-content-inner p1 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  color: white;
}

/* START OF LOGIN PAGE*/
button {
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

.button1 {
  color: #FFFFFF;
  font-size: 14px;
  background-color: transparent;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 10px;
  border-radius: 8px;
  border:2px solid #FFFFFF;
}
.button1:hover {
  cursor: pointer;
  color: #000000;
  border:2px solid #000000;
}
input[type=text], input[type=password], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    box-sizing: border-box;
}



input[type=submit] {
    color: #FFFFFF;
    font-size: 14px;
    background-color: transparent;
    text-decoration: none;
    padding: 10px 40px;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 10px;
    border-radius: 8px;
    border:2px solid #FFFFFF;
}
input[type=submit]:hover {
    cursor: pointer;
    color: #000000;
    border:2px solid #000000;
}
.linkregister {
    color: #13a52d;
    font-size: 30px;
}
.linkregister:hover {
    color: #ffffff;
}
.linkregister:visited {
    color: #13a52d;
}

.section4 {
  background-color: #00aa44;
  min-height: 450px;
  text-align: center;
  color: #FFFFFF;
}
.symbolsosmed > img{
  width: 25px;
  margin-right: 5px;
  margin-left: 5px;

}
.container3 {
  width: 800px;
  margin: auto;
}

#footer-sect {
  margin-top: 60px;
  float:left;
  width: 200px;
  color: #FFFFFF;
  font-size: 20px;
}

#footer-sect-center {
  margin-top: 60px;
  float:left;
  width: 400px;
  color: #FFFFFF;
  font-size: 20px;
}

.footer {
  font-size: 14px;
  line-height: 25px;
}

/*END OF LOGIN PAGE*/
